@import "../css/font.css";
/* body{
    
    background-image:url("https://wallpapercave.com/wp/wp7488412.jpg");
    background-repeat: no-repeat;
     background-size: cover;
     background:#000
     
} */
.nav-tabs .nav-link.active{
	border:none;
	background-color:black !important;
	color:#fff !important;
}
.nav-tabs .nav-link:hover{
	background-color:black;
	color:#fff;
}
.nav-tabs .nav-item{
	background-color:#8FC2BC;
	color:#000;
	letter-spacing:7px;
}
.tab-content h2{
	letter-spacing:7px;
	font-weight:bold;
	font-family: 'Lemon', cursive;
}

/* .column {
    float: left;
    width: 30%;
    margin:5px;
    padding: 10px;
    background-color: antiquewhite;
    height: 200px; Should be removed. Only for demonstration
  }

  .row{
    display:flex;
    flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  }
  .column:hover{
    background-color:#FFDAB9 ;
    color:#000;
} */